<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          |
          <a href="{{ site.baseurl }}/">Posts</a>
          |
          <a href="https://twitter.com/roelbondoc" target="_blank">Twitter</a>
        </h3>
      </div>
    </div>

    <div class="container content">
      {{ content }}

      <p><small>Find me on Twitter &mdash; <a href="https://twitter.com/roelbondoc" target="_blank">@roelbondoc</a></small></p>

      <form action="https://buttondown.email/api/emails/embed-subscribe/rb" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/rb', 'popupwindow')" class="embeddable-buttondown-form">
        <input type="hidden" value="1" name="embed" />
      <small>Subscribe to my newsletter!</small><br>
        <input type="email" name="email" id="bd-email" placeholder="Email address" style="border: 1px solid #555; width: 50%; font-size: 19px; padding: 8px;" />
        <input type="submit" value="Subscribe" style="border: 1px solid #555; font-size: 19px; padding: 8px;"/>
        <p><small><a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a></small></p>
      </form>
    </div>
  </body>
</html>
